.s {
    background-color: #00ff1100;
    background-color: #00ff113f;
    background-color: #00ff117b;
    background-color: #00d60e;
    background-color: #ffea0085;
    background-color: #dedede;
}